@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  font-family: Montserrat, sans-serif;
}

html {
  margin: 0px;
  margin: auto;
}

.head {
  padding: 25px 0 10px;
  margin-bottom: -3px;
  text-align: center;
}

body {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.fButton {
  background-color: #3b5998 !important;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px !important;
  border-radius: 1000px !important;
  letter-spacing: 1.5px !important;
}

.fButton:hover {
  background-color: #2f4b88 !important;
  color: #ffffff !important;
}

.aButton {
  background-color: #000000 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  border-radius: 1000px !important;
  letter-spacing: 1.5px !important;
}

.aButton:hover {
  background-color: #111222 !important;
  color: #ffffff !important;
}

.gButton {
  color: #626470 !important;
  border: 2px solid #626467 !important;
  font-size: 14px !important;
  border-radius: 1000px !important;
  letter-spacing: 1.5px !important;
}

.gButton:hover {
  color: #ffffff !important;
  border: 2px solid #626467 !important;
  background-color: #626470;
}

.fButton i {
  margin-right: 10px;
}

.aButton i {
  margin-right: 10px;
}

.gButton i {
  margin-right: 10px;
}

.bHeader {
  text-align: center;
  letter-spacing: -1px !important;
  font-size: 16px !important;
}

.tLine {
  width: 18vw;
}

.labelSection {
  font-size: 14px;
}

.inputSection {
  width: 28rem !important;
  border-radius: 0px !important;
  font-size: 14px !important;
}

.fypText {
  text-align: center;
  color: green !important;
  height: 1.8rem;
}

.fypText:hover {
  color: rgb(0, 88, 0) !important;
}

.labelbox {
  color: green;
}

#divbox {
  float: left;
}

.loginButton {
  background-color: #008321 !important;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px !important;
  border-radius: 1000px !important;
  letter-spacing: 1.5px !important;
}

.loginButton:hover {
  background-color: #1db954 !important;
  color: #ffffff !important;
}

#loginHr {
  width: 18vw;
}

.cButton {
  color: #626470 !important;
  border: 2px solid #626467 !important;
  text-align: center;
  font-size: 14px !important;
  border-radius: 1000px !important;
  letter-spacing: 1.5px !important;
}

.cButton:hover {
  color: #ffffff !important;
  border: 2px solid #626467 !important;
  background-color: #626470;
}

.btn-login-social {
  width: 28.5rem !important;
  height: 2.7rem;
  margin: 0.2rem 0 !important;
}
