@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    font-family: Montserrat, sans-serif;
}

.head {
    padding: 25px 0 10px;
    margin-bottom: -3px;
    text-align: center;
}

.fButton {
    background-color: #3b5998 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 14px !important;
    margin-left: 43.8rem;
    width: 28rem;
    height: 3rem;
    border-radius: 1000px !important;
    letter-spacing: 1.5px !important
}

.aButton {
    margin-top: 0.8rem;
    background-color: #000000 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 14px !important;
    margin-left: 43.8rem;
    width: 28rem;
    height: 3rem;
    border-radius: 1000px !important;
    letter-spacing: 1.5px !important
}

.gButton {
    margin-top: 0.8rem;
    color: #626470 !important;
    border: 2px solid #626467 !important;
    text-align: center;
    font-size: 14px !important;
    margin-left: 43.8rem;
    width: 28rem;
    height: 3rem;
    border-radius: 1000px !important;
    letter-spacing: 1.5px !important
}

.fButton i {
    margin-right: 10px;
}

.aButton i {
    margin-right: 10px;
}

.gButton i {
    margin-right: 10px;
}

.bHeader {
    text-align: center;
    margin-top: 2.1rem;
    letter-spacing: -1px !important;
    font-size: 16px !important;
}

.tLine {
    width: 28rem;
    margin-top: 1.4rem !important;
}

.lSection {
    margin-left: 43.8rem;
}

.labelSection {
    margin-top: 1rem;
    font-size: 14px;
}

.inputSection {
    width: 28rem !important;
    border-radius: 0px !important;
    font-size: 14px !important;
}

.fypText {
    text-align: center;
    margin-left: -29rem !Important;
    color: green !important;
    height: 1.8rem;
    margin-top: -rem
}

.labelbox {
    margin-left: 44.8rem !important;
    margin-top: 3rem;
}

#divbox {
    float: left;
}

.loginButton {
    background-color: #3b5998 !important;
    color: #FFFFFF !important;
    text-align: center;
    font-size: 14px !important;
    margin-left: 5rem;
    width: 14rem;
    height: 3rem;
    border-radius: 1000px !important;
    letter-spacing: 1.5px !important
}